* {
    margin: 0;
    padding: 0;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px;
    background: rgba(15, 15, 15, 0.40);
    backdrop-filter: blur(9px);
    position: sticky;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-right: 200px;
    color: white;
}
.nav-menu {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
    color: #FFF;
    font-family: Agrandir;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.32px;
}
.btn {
    border-radius: 1000px;
    border: 1px solid#FFA800;
    color: #FFA800;
    background-color: transparent;
    display: flex;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.intro {
    background: linear-gradient(to bottom left, #000000, #EF9364);
    height: 100vh;
}
.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    max-width: 450px;
    margin: auto;
}
.intro-heading {
    color: #FFF;
    font-family: Agrandir;
    font-size: 96px;
    font-weight: 700;
    line-height: 80px;
    padding-bottom: 20px;
}
.intro-para {
    color: rgba(255, 255, 255, 0.60);
    font-family: Agrandir;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    padding-bottom: 20px;
}
.intro-talk {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;    
}
.intro-text {
    display: flex;
    padding: 16px;
    margin: 0;
    width: 300px;
    border-radius: 30px;
    border: 2px solid white;
    background-color: transparent;
}
.intro-text::placeholder {
    color: #FFF;
}
.intro-text:focus {
    background: gray;
    color: white;
    box-shadow: none;
    border: 5px solid brown;
    outline: none;
}
.btn-lt {
    background-color: #FFA800;
    color: #FFF;
    padding: 16px;
}